.header{
    text-align: center;
    font-size: 22px;
    margin: 10px, 15px;
    padding: 5px, 7px;
}


.Start{
    text-align: center;
    margin: 15px, 15px;
    
}

.button{
    font-size: 18px;
    border: 5px, solid, black;
}


.main{
    background-color: darkgray;
}
.questons{
    margin:15px,30px;
    padding: 14px, 14px;
}

.questionCard{
    border: 3px, solid, black;
    padding: 8px, 8px;
}
.hidden{
    display: none;
}


.scoreCard{
    display: flex;
    background-color: darkblue;
    color:greenyellow;
}
table{
    border: 3px, solid, black;
    margin: 5px, 8px;
    padding: 6px;
 
}